<%= form_with(model: tournament, local: true, url: [tournament.user, tournament]) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
    <h2><%= t(".errors_list_header", count: tournament.errors.count) %></h2>
    <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, t(".title_html"), for: :tournament_title,
        accesskey: t(".title_accesskey") %>
    <br>
    <%= form.text_field :title, id: :tournament_title, autofocus: true, style: "width: 50%" %>
  </div>

  <div class="field">
    <%= form.label :slug, t(".slug_html"), for: :tournament_slug,
        accesskey: t(".slug_accesskey") %>
    <br>
    <%= form.text_field :slug, id: :tournament_slug, style: "width: 50%" %>
  </div>

  <div class="field">
    <%= form.label :subdomain, t(".subdomain_html"), for: :tournament_subdomain,
        accesskey: t(".subdomain_accesskey") %>
    <br>
    <%= form.text_field :subdomain, id: :tournament_subdomain, style: "width: 50%" %>
  </div>

  <% if !tournament.new_record? %>
    <div class="field">
      <%= form.label :complete, t(".complete_html"), for: :tournament_complete,
          accesskey: t(".complete_accesskey") %>
      <%= form.check_box :complete, id: :tournament_complete %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
