<% content_for :title, t(".page_title", user_name: @user.user_name) %>
<p id="notice"><%= notice %></p>
<h1><%= t(".page_header", user_name: @user.user_name) %></h1>

<p>
<table>
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th><%= t(".slug") %></th>
      <th><%= t(".subdomain") %></th>
      <th><%= t(".complete") %></th>
      <th colspan="3"><%= t(".links") %></th>
      <th colspan="2"><%= t(".actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.title %></td>
        <td><%= tournament.slug %></td>
        <td><%= tournament.subdomain %></td>
        <td><%= t(tournament.complete ? "tournaments.complete_true" : "tournaments.complete_false") %></td>
        <td><%= link_to t(".show_link"), [tournament.user, tournament] %></td>
        <td><%= link_to t(".kiosk_link"), tournament_kiosk_path(tournament.slug), target: :blank %></td>
        <td><%= link_to t(".challonge_link"), tournament.challonge_url, target: :blank %></td>
        <td><%= link_to t(".edit_link"), [:edit, tournament.user, tournament] %></td>
        <td><%= link_to t(".delete_link"), [tournament.user, tournament], method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>

<p>
<%= link_to t(".new_tournament"), new_user_tournament_path %> |
<%= link_to t("tournaments.view_user"), @user %> |
<%= link_to t("users.log_out"), logout_path, method: :delete %>
</p>
