<% content_for :title, @tournament.title %>
<p id="notice"><%= notice %></p>

<h1><%= @tournament.title %></h1>

<p>
  <strong><%= t(".slug") %></strong>
  <%= @tournament.slug %>
</p>

<p>
  <strong><%= t(".subdomain") %></strong>
  <%= @tournament.subdomain %>
</p>

<p>
  <strong><%= t(".complete") %></strong>
  <%= @tournament.complete %>
</p>

<p>
<%= button_to t(".calculate_now"), [:refresh, @tournament.user, @tournament], method: :post %>
</p>

<p>
<%= link_to t("tournaments.edit_tournament"), [:edit, @tournament.user, @tournament] %> |
<%= link_to t("tournaments.tournament_list"), user_tournaments_path %> |
<%= link_to t("log_out_link"), logout_path, method: :delete %>
</p>
