<% content_for :title, @tournament.title %>
<p id="notice"><%= notice %></p>

<h1><%= @tournament.title %></h1>

<p>
  <strong><%= t(".slug") %></strong>
  <%= @tournament.slug %>
</p>

<p>
  <strong><%= t(".subdomain") %></strong>
  <%= @tournament.subdomain %>
</p>

<p>
  <strong><%= t(".complete") %></strong>
  <%= @tournament.complete %>
</p>

<p>
<%= button_to t(".calculate_now"), [:refresh, @tournament.user, @tournament], method: :post %>
</p>

<hr>

<table>
<thead>
  <th>Rank</th>
  <th>Scene</th>
  <th>Score</th>
<tbody>
<% @tournament.scene_scores.sort_by(&:score).reverse_each.with_index(1) do |scene, i| %>
  <tr>
    <td><%= i %></td>
    <td><%= scene.name %></td>
    <td><%= scene.score %></td>
  </tr>
<% end %>
</table>

<hr>

<p>
<%= link_to t("tournaments.edit_tournament"), [:edit, @tournament.user, @tournament] %> |
<%= link_to t("tournaments.tournament_list"), user_tournaments_path %> |
<%= link_to t("log_out_link"), logout_path, method: :delete %>
</p>
